.about-us {
    padding: 40px 20px; 
    background-color: #f9f9f9; 
    width: 100%; 
    margin: 0 auto; 
}

.about-us h2 {
    font-size: 36px; 
    color: #000; 
    margin-bottom: 20px; 
    text-align: center; 
}

.about-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.left-container {
    width: 40%; 
    text-align: center; 
}

.team-member img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #000;
    max-width: 150px;
    transition: transform 0.3s ease-in-out; /* Smooth transition for transform */
}

.team-member img:hover {
    transform: scale(1.2); /* Enlarge image on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.left-container h4 {
    font-size: 20px; 
    color: #000; 
    margin-top: 10px; 
}

.left-container p {
    font-size: 16px; 
    color: #666; 
    margin-top: 5px; 
}

.right-container {
    width: 60%; 
    padding-left: 20px;
    display: flex;
    flex-direction: column; 
}

.right-container p {
    font-size: 18px; 
    color: #333; 
    margin-bottom: 20px; 
}

blockquote {
    font-size: 18px; 
    font-style: italic; 
    color: #000; 
    text-align: left; 
    border-left: 4px solid #000; 
    padding-left: 10px; 
}






@media screen and (max-width: 480px){

    .about-us {
        padding: 10px 10px; 
        background-color: #fff; 
        margin: 0;
        height: 95vh; 
    }
    
    .about-us h2 {
        font-size: 25px;  
    }

    .about-container {
        flex-direction: column;
        height: 80%;
    }

    .about-container .left-container {
        width: 100%; 
        text-align: center; 
    }
    
    .team-member img {
        width: 60%;
        border: 2px solid #000;
        max-width: 120px;
    }


    .about-container .left-container h4 {
        font-size: 20px; 
        color: #000; 
        margin-top: 20px; 
    }
    
    .about-container .left-container p {
        font-size: 13px; 
        color: #666; 
        margin-top: 2px; 
    }
    
    .about-container .right-container {
        width: 100%;    
        padding: 5px;
        display: flex;
        flex-direction: column; 
    }
    
    .about-container .right-container p {
        font-size: 15px; 
        color: #333; 
        margin-bottom: 20px; 
    }
    
    .about-container blockquote {
        font-size: 12px; 
        border-left: 3px solid #000; 
        padding: 5px; 
    }


}